<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buddy By Daylight</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body> 
  <header>
   <h1>Buddy By Daylight</h1>
	
  {{!-- This is the hamburger menu icon --}}
  	<div class="top">
			<a href="#" class="menu_icon"><i class="material-icons">dehaze</i></a>
		</div>
    {{!-- end menu icon section --}}
  </header>
  {{!-- These come from the hamburger menu --}}
 <nav class="menu">
		<a href="#" class="item_menu">Home</a>
		<a href="#" class="item_menu">Shrine of Secrets</a>
		<a href="#" class="item_menu">Stats</a>
	</nav>
  {{!-- end menu icon section --}}
  <main>

  </main>
  <footer id="footer">
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>